<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <img src="../../assets/img/logo.png" style="width: 300px; height: 100px;" >
            </div>  
            <div class="row">
                <h1 style="color: purple">¡Regístrate y disfruta!</h1>
                <h6 style="color: purple">Creando proyectos en línea, en una amplia <br>
                    comunidad de entusiastas del código
                </h6>
            </div>
        </div>

        <div class="col-6">
            <img src="../../assets/img/reg1.png" width="350px" height="350px">
        </div>
    </div>

    <div class="row">
        <div class="container-fluid" style="background-color: lightblue;">
            <div class="row justify-content-center">
                <h1 style="text-align: center;">Elige cualquiera de nuestros planes</h1>
            </div>
    
            <div class="row justify-content-around">
               <div class="col-4">
                <div class="card border-primary mb-3" style="max-width: 18rem; background-color: #E8E8E8; margin-top: 30px;">
                    <div class="card-header" style="text-align: center;">Plan Free</div>
                    <div class="card-body text-primary">
                        <img class="card-img" src="../../assets/img/free.png" alt="Card image" width="100px" height="250px">
                      <p class="card-text" style="text-align: center; margin-top: 10px;">Puedes crear un máximo de 5 carpetas de proyecto y tienes un límite de 10 archivos por cada uno. 
                        Sólo puedes acceder a 3 repositorios externos.</p>
                    </div>
                  </div>
               </div> 

               <div class="col-4">
                <div class="card border-primary mb-3" style="max-width: 18rem; background-color: #E8E8E8; margin-top: 30px;">
                    <div class="card-header" style="text-align: center;">Plan Interact</div>
                    <div class="card-body text-primary">
                        <img class="card-img" src="../../assets/img/interact.png" alt="Card image" width="100px" height="250px" >
                      <p class="card-text" style="text-align: center; margin-top: 10px;">Puedes crear un máximo de 20 carpetas de proyecto y tienes un límite de 30 archivos por cada uno. 
                        Puedes acceder a un número ilimitdo de repositorios externos.</p>
                    </div>
                  </div>
               </div>

               <div class="col-4">
                <div class="card border-primary mb-3" style="max-width: 18rem; background-color: #E8E8E8; margin-top: 30px;">
                    <div class="card-header" style="text-align: center;">Plan Premium</div>
                    <div class="card-body text-primary">
                        <img class="card-img" src="../../assets/img/premium.png" alt="Card image" width="100px" height="250px">
                      <p class="card-text" style="text-align: center; margin-top: 10px;">Crea ilimitadas carpetas de proyecto al igual que archivos en cada una. 
                        Puedes acceder a un número ilimitdo de repositorios externos.</p>
                    </div>
                  </div>
               </div>
            </div>
    
            <div class="row" style="background-color: white;">
                <div class="col-4 offset-md-4">
                <div class="card" style="margin-top: 120px; margin-bottom: 90px;">
                    <form>
                        <div class="form-group">
                          <label for="inputNombreUsu">Nombre</label>
                          <input type="text" class="form-control" id="regNom" aria-describedby="usuHelp" placeholder="Ingrese su nombre">
                        </div>

                        <div class="form-group">
                            <label for="inputApellidoUsu">Apellido</label>
                            <input type="text" class="form-control" id="regApe" aria-describedby="apeHelp" placeholder="Ingrese su apellido">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>

                        <div class="form-group">
                          <label for="exampleInputPassword1">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escriba su contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Activar mi cuenta</button>
                      </form>
                    
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <p class="col-md-4 mb-0 text-muted">2023 Interactoo ©. Todos los derechos reservados.</p>
          
              <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="../../assets/img/logo.png" width="100" height="32">
              </a>
          
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Posible Opción 1</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Posible Opción 2</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Posible Opción 3</a></li>
              </ul>
            </footer>
          </div>
    </div>
</div>